<div>
  <header class="hero">
    <div class="u-alignMiddle u-layoutColumn">
      <div class="hero-title u-alignBlock">My First Profolio</div>
      <div class="hero-description">HelloWorld</div>
    </div>
  </header>
  <div class="blockList container">
    <div class="row">
      <div class="col-sm-6">
        <profile-info-block profile="profile"></profile-info-block>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <education-list-block educations="educations"></education-list-block>
      </div>
    </div>
  </div>
  <div class="blockList container">
    <div class="row">
      <div class="col-sm-12">
        <experience-list-block experiences="experiences"></experience-list-block>
      </div>
    </div>
  </div>
</div>
